# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# If using PostgreSQL/MySQL/etc, ignore environment configs or secrets here

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python virtual environments
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Django migrations (optional - sometimes you want to commit migrations)
**/migrations/*.py
!**/migrations/__init__.py

# MacOS
.DS_Store

# Logs
*.log

# Celery beat schedule file
celerybeat-schedule

# dotenv
.env

